@font-face {
	font-family: "Graphik Web";
	src: url("/fonts/Graphik-Light-Web.woff2") format("woff2");
	font-weight: 300;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-left {
	from {
		transform: translateX(-1rem);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-1rem);
	}
}

@keyframes slide-from-top {
	from {
		transform: translateY(-1rem);
	}
}

@keyframes slide-to-top {
	to {
		transform: translateY(-1rem);
	}
}

@keyframes slide-from-bottom {
	from {
		transform: translateY(1rem);
	}
}

@keyframes slide-to-bottom {
	to {
		transform: translateY(1rem);
	}
}

@keyframes grow-from-center {
	from {
		transform: scale(.9);
	}
}

@keyframes shrink-to-center {
	to {
		transform: scale(.9);
	}
}

:root {
	--global-color-neutral-000: #ffffff;
	--global-color-neutral-025: hsl(0 0% 97.5%);
	--global-color-neutral-050: hsl(0 0% 95%);
	--global-color-neutral-075: hsl(0 0% 92.5%);
	--global-color-neutral-100: hsl(0 0% 90%);
	--global-color-neutral-200: hsl(0 0% 80%);
	--global-color-neutral-300: hsl(0 0% 70%);
	--global-color-neutral-400: hsl(0 0% 60%);
	--global-color-neutral-500: hsl(0 0% 46%);
	--global-color-neutral-600: hsl(0 0% 40%);
	--global-color-neutral-700: hsl(0 0% 30%);
	--global-color-neutral-800: hsl(0 0% 20%);
	--global-color-neutral-900: hsl(0 0% 10%);
	--global-color-neutral-1000: hsl(0 0% 0%);

	--global-foregroundColor: var(--global-color-neutral-050);
	--global-backgroundColor: var(--global-color-neutral-000);
	--global-text-color: var(--global-color-neutral-1000);
	--global-meta-color: var(--global-color-neutral-500);

	--global-borderRadius: .5rem;
	--global-borderRadius-l: 1rem;

	--global-fontFamily: "Graphik Web", sans-serif;
	/* --global-fontFamily: "Axalp Grotesk", sans-serif; */

	--global-easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--global-easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
	--global-easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

	--global-easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--global-easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--global-easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

	--global-easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--global-easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--global-easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

	--global-easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
	--global-easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--global-easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

	--global-easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
	--global-easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
	--global-easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

	--global-easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
	--global-easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--global-easeInOutExpo: cubic-bezier(1, 0, 0, 1);

	--global-easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
	--global-easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
	--global-easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

	--global-easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--global-easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	--global-easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

	/* --global-easeOut: var(--global-easeOutQuint);
	--global-easeIn: var(--global-easeInQuint);
	--global-easeInOut: var(--global-easeInOutQuint); */
	/* --global-easeOut: ease-out;
	--global-easeIn: ease-in;
	--global-easeInOut: ease-in-out; */
	--global-easeOut: var(--global-easeOutQuad);
	--global-easeIn: var(--global-easeInQuad);
	--global-easeInOut: var(--global-easeInOutQuad);

	--global-animation-duration-xx-slow: 1420ms;
	--global-animation-duration-x-slow: 360ms;
	--global-animation-duration-slow: 300ms;
	--global-animation-duration: 300ms;
	--global-animation-duration-fast: 150ms;
	--global-animation-duration-x-fast: 125ms;
	--global-animation-duration-xx-fast: 100ms;

	/* whitespace */

	--global-space-xxxs: .25rem;
	--global-space-xxs: .5rem;
	--global-space-xs: .75rem;
	--global-space-s: 1rem;
	--global-space-m: 1.5rem;
	--global-space-l: 2rem;
	--global-space-xl: 3rem;
	--global-space-xxl: 4.5rem;
	--global-space-xxxl: 6rem;

	--global-grid-gap: var(--global-space-s);
	--global-grid-padding: var(--global-space-m);
}

/*
@media (prefers-color-scheme: dark) {
	:root {
		--global-foregroundColor: var(--global-color-neutral-900);
		--global-backgroundColor: var(--global-color-neutral-1000);
		--global-text-color: var(--global-color-neutral-100);
		--global-meta-color: var(--global-color-neutral-500);
	}
} */


::view-transition-old(root) {
	animation: var(--global-animation-duration) var(--global-easeIn) both fade-out !important;
}

::view-transition-new(root) {
	animation: var(--global-animation-duration) var(--global-easeOut) both fade-in !important;
}

html {
	font-family: var(--global-fontFamily);
	font-weight: 300;
	font-size: calc(18/16 * 1rem);
	line-height: 1.5;
	background-color: var(--global-backgroundColor);
	color: var(--global-text-color);
}

*,
*::before,
*::after {
	font-weight: inherit;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

dl {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 0 1rem;
}

dt {
	color: var(--global-meta-color);
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.items {
	position: relative;
	z-index: 100;
	display: grid;
	gap: var(--global-grid-gap);
	padding: var(--global-grid-gap);
	/* dense grid */
	grid-auto-flow: dense;
	grid-template-columns: repeat(12, 1fr);
}

.item {
	grid-column: 1 / -1;

	@media (min-width: 48em) {
		grid-column: span 6;
	}

	@media (min-width: 75em) {
		grid-column: span 4;
	}
}

.item__link {
	position: relative;
	overflow: hidden;
	height: 100%;
	border-radius: var(--global-borderRadius);
	text-decoration: none;
	background-color: var(--global-foregroundColor);
	display: grid;
	grid-template-rows: 1fr auto;
}

.item__header {
	grid-row: 2;
	padding: 0 var(--global-space-m) var(--global-space-m);
}

.item__title {
	font-size: 1rem;
}

.item__desc {
	color: var(--global-meta-color);
}

.item__year {
	grid-row: 1;
	grid-column: 1;
	color: var(--global-meta-color);
	padding: 1.5rem 1.5rem 0;
}

.item__img {
	grid-column: 1;
	margin: auto;
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	max-width: 400px;
	transition: var(--global-animation-duration-fast) var(--global-easeInOut);
	mix-blend-mode: darken;

	.item__link:hover & {
		transform: scale(1.05);
	}
}

.detail__title,
.detail__desc {
	font-size: calc(30/16 * 1rem);
	line-height: 2.25rem;
	letter-spacing: -.0125em;
}

.detail__header {
	grid-row: 2;
	padding: 0 var(--global-space-m) var(--global-space-m);
}


::view-transition-new(detail-header) {
	animation:
		var(--global-animation-duration-fast) var(--global-easeOut) var(--global-animation-duration-fast) both fade-in,
		var(--global-animation-duration-fast) var(--global-easeOut) var(--global-animation-duration-fast) both slide-from-bottom;
}

::view-transition-old(detail-header) {
	animation:
		var(--global-animation-duration-fast) var(--global-easeIn) both fade-out,
		var(--global-animation-duration-fast) var(--global-easeIn) both slide-to-bottom;
}

.detail__desc {
	color: var(--global-meta-color);
}

.detail__body {
	padding: 0 var(--global-space-m) var(--global-space-m);
	display: grid;
	gap: var(--global-space-m);
	/* auto responsive columns */
	grid-template-columns: repeat(auto-fill, minmax(min(26rem, 100%), 1fr));
	align-items: start;
}

.detail__intro {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

.detail__img {
	max-height: calc(100vh - 6rem);
	width: auto;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	margin: auto;
	mix-blend-mode: darken;
}


::view-transition-new(detail-image) {
	animation:
		var(--global-animation-duration-fast) var(--global-easeOut) both fade-in,
		var(--global-animation-duration-fast) var(--global-easeOut) both grow-from-center;
}

::view-transition-old(detail-image) {
	animation:
		var(--global-animation-duration-fast) var(--global-easeIn) both fade-out,
		var(--global-animation-duration-fast) var(--global-easeIn) both shrink-to-center;
}

@media (min-width: 75em) {

	.u-x-span-3-bp3 {
		grid-column: span 3;
	}

	.u-x-span-4-bp3 {
		grid-column: span 4;
	}

	.u-x-span-6-bp3 {
		grid-column: span 6;
	}

	.u-x-span-8-bp3 {
		grid-column: span 8;
	}

	.u-x-span-9-bp3 {
		grid-column: span 9;
	}

}

/* y: vertical */

@media (min-width: 62em) {
	.u-y-span-2-bp3 {
		grid-row: span 2;
	}
}

.bg-color-neutral-500 {
	background-color: var(--global-color-neutral-500);
}

.bg-color-neutral-400 {
	background-color: var(--global-color-neutral-400);
}

.bg-color-neutral-300 {
	background-color: var(--global-color-neutral-300);
}

.bg-color-neutral-200 {
	background-color: var(--global-color-neutral-200);
}

.bg-color-neutral-100 {
	background-color: var(--global-color-neutral-100);
}

.bg-color-neutral-075 {
	background-color: var(--global-color-neutral-075);
}

.bg-color-neutral-050 {
	background-color: var(--global-color-neutral-050);
}

.color-neutral-1000 {
	color: var(--global-color-neutral-1000);
}

.bg-foregroundColor {
	background-color: var(--global-foregroundColor);
}

.color-neutral-900 {
	color: var(--global-color-neutral-900);
}

.color-neutral-800 {
	color: var(--global-color-neutral-800);
}

.color-neutral-700 {
	color: var(--global-color-neutral-700);
}

.color-neutral-600 {
	color: var(--global-color-neutral-600);
}

.color-neutral-500 {
	color: var(--global-color-neutral-500);
}

.color-neutral-400 {
	color: var(--global-color-neutral-400);
}

.color-neutral-300 {
	color: var(--global-color-neutral-300);
}

.color-neutral-200 {
	color: var(--global-color-neutral-200);
}

.color-neutral-100 {
	color: var(--global-color-neutral-100);
}

.color-neutral-075 {
	color: var(--global-color-neutral-075);
}

.color-neutral-050 {
	color: var(--global-color-neutral-050);
}

.color-neutral-025 {
	color: var(--global-color-neutral-025);
}

.color-neutral-000 {
	color: var(--global-color-neutral-000);
}

.color-meta {
	color: var(--global-meta-color);
}

.font-size-base {
	font-size: 1rem;
}

.max-width-m {
	max-width: 36rem;
}