@font-face {
	font-family: "Graphik Web";
	src: url("/fonts/Graphik-Light-Web.woff2") format("woff2");
	font-weight: 300;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slide-from-left {
	0% {
		opacity: 0;
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes grow {
	0% {
		opacity: 0;
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes slide-from-top {
	0% {
		opacity: 0;
		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-from-bottom {
	0% {
		opacity: 0;
		transform: translateY(1rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

:root {
	--global-color-neutral-000: #ffffff;
	--global-color-neutral-025: hsl(0 0% 97.5%);
	--global-color-neutral-050: hsl(0 0% 95%);
	--global-color-neutral-075: hsl(0 0% 92.5%);
	--global-color-neutral-100: hsl(0 0% 90%);
	--global-color-neutral-200: hsl(0 0% 80%);
	--global-color-neutral-300: hsl(0 0% 70%);
	--global-color-neutral-400: hsl(0 0% 60%);
	--global-color-neutral-500: hsl(0 0% 50%);
	--global-color-neutral-600: hsl(0 0% 40%);
	--global-color-neutral-700: hsl(0 0% 30%);
	--global-color-neutral-800: hsl(0 0% 20%);
	--global-color-neutral-900: hsl(0 0% 10%);
	--global-color-neutral-1000: hsl(0 0% 0%);

	--global-borderRadius: .5rem;
	--global-borderRadius-l: 1rem;

	/* --global-fontFamily: "Graphik Web", sans-serif; */
	--global-fontFamily: "Axalp Grotesk", sans-serif;

	--global-text-color: var(--global-color-neutral-1000);
	--global-meta-color: var(--global-color-neutral-500);

	--global-easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
	--global-easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--global-easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

	/* --global-easeOut: var(--global-easeOutQuint);
	--global-easeIn: var(--global-easeInQuint);
	--global-easeInOut: var(--global-easeInOutQuint); */
	--global-easeOut: ease-in;
	--global-easeIn: ease-out;
	--global-easeInOut: ease-in-out;

	--global-animation-duration: 300ms;
	--global-animation-duration-slow: 600ms;
	--global-animation-duration-fast: 150ms;
}

::view-transition-new(root) {
	animation: var(--global-animation-duration) var(--global-easeOut) fade;
}

::view-transition-old(root) {
	animation: var(--global-animation-duration) var(--global-easeIn) fade reverse;
}

html {
	font-family: var(--global-fontFamily);
	font-weight: 300;
	font-size: calc(18/16 * 1rem);
	line-height: 1.5;
	color: var(--global-text-color);
}

*,
*::before,
*::after {
	font-weight: inherit;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

dl {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 0 1rem;
}

dt {
	color: var(--global-meta-color);
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.items {
	position: relative;
	z-index: 100;
	display: grid;
	gap: .25rem;
	padding: .25rem;

	/* @media screen and (min-width: 800px) { */
	grid-template-columns: repeat(12, 1fr);
	/* } */
}

.item {
	grid-column: 1 / -1;

	@media (min-width: 48em) {
		grid-column: span 6;
	}

	@media (min-width: 75em) {
		grid-column: span 4;
	}
}

.item__link {
	position: relative;
	overflow: hidden;
	height: 100%;
	border-radius: var(--global-borderRadius);
	display: flex;
	flex-direction: column;
	text-decoration: none;
	background-color: var(--global-color-neutral-075);
	display: grid;
	grid-template-rows: auto 1fr auto auto;
}

.item__title {
	font-size: 1rem;
	grid-column: 1;
	padding: 0 1.5rem;
}

.item__desc {
	font-size: 1rem;
	grid-column: 1;
	color: var(--global-meta-color);
	padding: 0 1.5rem 1.5rem;
}

.item__year {
	grid-row: 1;
	grid-column: 1;
	color: var(--global-meta-color);
	padding: 1.5rem 1.5rem 0;
}

.item__img {
	grid-column: 1;
	margin: auto;
	width: 100%;
	height: auto;
	max-width: 400px;
	transition: var(--global-animation-duration) var(--global-easeOutQuint);
	mix-blend-mode: darken;

	.item__link:hover & {
		transform: scale(1.05);
	}
}

.item__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.detail {}

.detail__title,
.detail__desc {
	font-size: calc(30/16 * 1rem);
	line-height: 2.25rem;
	letter-spacing: -.0125em;
}

.detail__header {
	grid-row: 2;
	padding: 0 1.5rem 1.5rem;
	/* view-transition-name: detail-header; */
}

::view-transition-new(detail-header) {
	animation: var(--global-animation-duration) var(--global-easeOut) slide-from-bottom;
}

::view-transition-old(detail-header) {
	animation: var(--global-animation-duration) var(--global-easeIn) slide-from-bottom reverse;
}

.detail__desc {
	color: var(--global-meta-color);
}

.detail__body {
	padding: 0 1.5rem 1.5rem;
	display: grid;
	gap: 1.5rem;
	/* auto responsive columns */
	grid-template-columns: repeat(auto-fill, minmax(min(26rem, 100%), 1fr));
	align-items: start;
}

.detail__intro {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

.detail__img {
	max-height: calc(100vh - 6rem);
	width: auto;
	margin: auto;
	mix-blend-mode: darken;
}

/*
::view-transition-new(detail-image) {
	animation: var(--global-animation-duration) var(--global-easeOutQuint) grow;
}

::view-transition-old(detail-image) {
	animation: var(--global-animation-duration) var(--global-easeInQuint) grow reverse;
} */

@media (min-width: 75em) {

	.u-x-span-3-bp3 {
		grid-column: span 3;
	}

	.u-x-span-4-bp3 {
		grid-column: span 4;
	}

	.u-x-span-6-bp3 {
		grid-column: span 6;
	}

	.u-x-span-8-bp3 {
		grid-column: span 8;
	}

	.u-x-span-9-bp3 {
		grid-column: span 9;
	}

}

/* y: vertical */

@media (min-width: 62em) {
	.u-y-span-2-bp3 {
		grid-row: span 2;
	}
}

.bg-color-neutral-500 {
	background-color: var(--global-color-neutral-500);
}

.bg-color-neutral-400 {
	background-color: var(--global-color-neutral-400);
}

.bg-color-neutral-300 {
	background-color: var(--global-color-neutral-300);
}

.bg-color-neutral-200 {
	background-color: var(--global-color-neutral-200);
}

.bg-color-neutral-100 {
	background-color: var(--global-color-neutral-100);
}

.bg-color-neutral-075 {
	background-color: var(--global-color-neutral-075);
}

.bg-color-neutral-050 {
	background-color: var(--global-color-neutral-050);
}

.color-neutral-1000 {
	color: var(--global-color-neutral-1000);
}

.color-neutral-900 {
	color: var(--global-color-neutral-900);
}

.color-neutral-800 {
	color: var(--global-color-neutral-800);
}

.color-neutral-700 {
	color: var(--global-color-neutral-700);
}

.color-neutral-600 {
	color: var(--global-color-neutral-600);
}

.color-neutral-500 {
	color: var(--global-color-neutral-500);
}

.color-neutral-400 {
	color: var(--global-color-neutral-400);
}

.color-neutral-300 {
	color: var(--global-color-neutral-300);
}

.color-neutral-200 {
	color: var(--global-color-neutral-200);
}

.color-neutral-100 {
	color: var(--global-color-neutral-100);
}

.color-neutral-075 {
	color: var(--global-color-neutral-075);
}

.color-neutral-050 {
	color: var(--global-color-neutral-050);
}

.color-neutral-025 {
	color: var(--global-color-neutral-025);
}

.color-neutral-000 {
	color: var(--global-color-neutral-000);
}

.color-meta {
	color: var(--global-meta-color);
}

.font-size-base {
	font-size: 1rem;
}

.max-width-m {
	max-width: 36rem;
}