---
const today = new Date();
---

<footer class="footer">
	<p>
		This site is a demo of how to animate navigation between multiple pages using View Transitions and Astro.
	</p>
	<p>
		All images are courtesy of <a href="https://wright20.com">wright20.com</a>. The texts are generated with chat gpt.
	</p>
	<p>
		Made by <a href="https://simoncoudeville.be">Simon Coudeville</a>. The Source code is available on <a href="">Github</a>."
	</p>
</footer>
