---
const { tags, currentPath, amount } = Astro.props;
---

<header class="header" transition:name="header">
  <nav class="tags">
    <ul class="tags__list list-reset">
      <li class="tags__item">
        <a
          class={currentPath === ""
            ? "tags__link tags__link--active"
            : "tags__link"}
          href="/"
        >
          All</a
        >
      </li>
      {
        tags.map((tag) => (
          <li>
            <a
              class={
                currentPath === tag
                  ? "tags__link tags__link--active"
                  : "tags__link"
              }
              href={`/${tag}`}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <p class="header__amount color-meta">
    {amount} products
  </p>
</header>

<style is:global>
  .header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: hsl(0 0% 100% / 1);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    /* grid-template-columns: 1fr auto 1fr; */
    grid-template-columns: auto 1fr;
    align-items: center;
    /* padding: 0.25rem 1.75rem; */
    padding: 0.25rem 1.75rem 0.25rem 1rem;
    margin-bottom: -0.25rem;
    z-index: 200;
    /* contain: paint; */
  }

  .header__amount {
    justify-self: end;
  }

  .tags__list {
    display: flex;
    flex-wrap: wrap;
  }

  .tags__link {
    display: block;
    padding: 1rem 0.75rem;
    border-radius: var(--global-borderRadius);
    color: var(--global-meta-color);
  }

  .tags__link:hover,
  .tags__link--active {
    color: var(--global-text-color);
  }

  ::view-transition-new(header):only-child {
    animation: var(--global-animation-duration) var(--global-easeOut)
      slide-from-top;
  }

  ::view-transition-old(header):only-child {
    animation: var(--global-animation-duration) var(--global-easeIn)
      slide-from-top reverse;
  }
</style>
