---
const { tags, currentPath, amount } = Astro.props;
---

<header class="header">
  <nav class="tags">
    <ul class="tags__list list-reset">
      <li class="tags__item">
        <a
          class={currentPath === ""
            ? "tags__link tags__link--active"
            : "tags__link"}
          href="/"
        >
          all</a
        >
      </li>
      {
        tags.map((tag) => (
          <li>
            <a
              class={
                currentPath === tag
                  ? "tags__link tags__link--active"
                  : "tags__link"
              }
              href={`/${tag}`}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
    <button class="tags__button"> tags</button>
  </nav>
  <p class="header__amount color-meta">
    {amount} products
  </p>
</header>

<style is:global>
  @custom-media --small-viewport (min-width: 48em);
  @custom-media --medium-viewport (min-width: 75em);
  @custom-media --large-viewport (min-width: calc(1500/16 * 1em));

  .header {
    --tag-inline-padding: var(--global-space-xs);
    --tag-block-padding: var(--global-space-s);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--global-backgroundColor);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: var(--global-space-xxxs)
      calc(
        var(--global-grid-gap) + var(--global-grid-padding) -
          var(--tag-inline-padding)
      );
    margin-bottom: calc(var(--global-grid-gap) * -1);
    z-index: 200;
    view-transition-name: header;
  }

  .header__amount {
    justify-self: end;
    padding: var(--tag-block-padding) var(--tag-inline-padding);
  }

  .tags__list {
    display: none;

    @media (--small-viewport) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .tags__link {
    display: block;
    padding: var(--tag-block-padding) var(--tag-inline-padding);
    border-radius: var(--global-borderRadius);
    color: var(--global-meta-color);
    text-transform: capitalize;
  }

  .tags__link:hover,
  .tags__link--active {
    color: var(--global-text-color);
  }

  .tags__button {
    @media (--small-viewport) {
      display: none;
    }
  }

  ::view-transition-new(header):only-child {
    animation:
      var(--global-animation-duration-fast) linear
        var(--global-animation-duration) both fade-in,
      var(--global-animation-duration-fast) var(--global-easeOut)
        var(--global-animation-duration) both slide-from-top;
  }

  ::view-transition-old(header):only-child {
    animation:
      var(--global-animation-duration-fast) linear both fade-out,
      var(--global-animation-duration-fast) var(--global-easeIn) both
        slide-to-top;
  }
</style>

<script>
  const handleTagLink = () => {
    let itemImages = document.querySelectorAll(".item__img");
    itemImages.forEach((itemImage) => {
      // itemImage.style.setProperty("view-transition-name", "none");
      // remove the data-astro-transition-scope attribute
      // itemImage.removeAttribute("data-astro-transition-scope");
      // remove the view-transition-name style
      // itemImage.style.removeProperty("view-transition-name");
      // remove the view-transition-scope style while view transition is busy
      // itemImage.addEventListener("view-transition-start", () => {
      //   // itemImage.style.removeProperty("view-transition-scope");
      //   // itemImage.style.removeProperty("view-transition-name");
      //   // set the css view-transition-name property to the value none
      //   itemImage.style.setProperty("view-transition-name", "none");
      //   // remove the property after the transition is done
      //   itemImage.addEventListener("view-transition-end", () => {
      //     itemImage.style.removeProperty("view-transition-name");
      //   });
      // });
      // let transition = document.startViewTransition(() => {
      //   itemImage.style.setProperty("view-transition-name", "none");
      // });
      // transition.ready.then(() => {
      //   itemImage.style.setProperty("view-transition-name", "none");
      // });
    });
  };

  document.addEventListener("astro:page-load", () => {
    let tagLinks = document.querySelectorAll(".tags__link");
    // handleTagLink();
    tagLinks.forEach((tagLink) => {
      tagLink.addEventListener("click", handleTagLink);
    });
  });
</script>
