---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import MobileNav from "../components/MobileNav.astro";
const { title, description, className } = Astro.props;
---

<!doctype html>
<html lang="en" class={className}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
    <Footer />
    <MobileNav />
  </body>
</html>
